iosevka-term-extendedheavyoblique.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedoblique.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-heavyitalic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-oblique.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-regular.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedheavyitalic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedmedium.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedthinoblique.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extrabold.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedbold.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedmediumoblique.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extralightoblique.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-mediumitalic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-bold.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedheavy.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedlightoblique.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedsemibold.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-heavy.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-medium.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedextralight.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedlightitalic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-lightoblique.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-light.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-thin.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedextralightoblique.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedsemibolditalic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-lightitalic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-mediumoblique.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedextralightitalic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedlight.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-thinitalic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-boldoblique.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extrabolditalic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-heavyoblique.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-thinoblique.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedbolditalic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendeditalic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedmediumitalic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedboldoblique.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedextrabolditalic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedextrabold.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedthin.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extralight.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-italic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedthinitalic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extended.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-bolditalic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedextraboldoblique.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-semibolditalic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-semiboldoblique.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extendedsemiboldoblique.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extralightitalic.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-semibold.ttf filter=lfs diff=lfs merge=lfs -text
iosevka-term-extraboldoblique.ttf filter=lfs diff=lfs merge=lfs -text
